@font-face {
  font-family: "Brandon Grotesque";
  src: url("./Assets/Font/BrandonGrotesque-Medium.woff2") format("woff2"),
    url("./Assets/Font/BrandonGrotesque-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./Assets/Font/BrandonGrotesque-Bold.woff2") format("woff2"),
    url("./Assets/Font/BrandonGrotesque-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./Assets/Font/BrandonGrotesque-Regular.woff2") format("woff2"),
    url("./Assets/Font/BrandonGrotesque-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Writable Story";
  src: url("./Assets/Font/Writable-Story.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
